nav{
    display: flex; 
    align-items: center; 
    justify-content: space-between;
    



}
#navbar{
    display:flex; 
    align-items: center;
    justify-content: center;
    padding-left: 45rem; 
}

#navbar li{
    list-style: none; 
    padding-left: 1.5rem; 
    position: relative;
  

}

#navbar li a{
    text-decoration: none; 
    color: black;
    font-size: 1.4rem;
    font-weight: 700;
    transition: 0.3s ease-in-out
    
}

#navbar li a:hover{
    color: #116206;
}

#navbar li a:hover::after{
    content:" ";
    width: 30%;
    height: 2px;
    background: #116206;
    position: absolute;
    bottom: 4px;
    left: 1.5rem;  
}