#root {
  max-width: 1300px;
  margin: 0 auto;
  /* padding: changed may need to add back later; */
  padding: 0.5rem;
  text-align: center;
}



@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.leaflet-interactive {
    fill-opacity: 0.7 !important;
}


/* still using this format for legend */
#legend {
  width: 14rem ;
  height: 18rem; 
  padding-left: 1rem;
  background-color: #f0f0f0;
  /* overflow-y: auto; Enable scrolling if legend content is long */
}

#legend h3 {
  margin-top: 0.7rem;
  margin-bottom: 0.2rem; 
  font-size: 1rem;
  padding-left: 0.5rem;
  text-align: left;
}

#legend ul {
  list-style: none; /* Remove default list bullets */
  padding: 0;
}

#legend li {
  /* margin-bottom: 0.2rem; */
  display: flex; /* Use flexbox for legend item layout */
  align-items: center; /* Vertically align items */
 
}

